body {
    margin: 0;
    background: black;
    color: white;
    font-family: 'Noto Serif KR', serif;
}

.top-bar {
    width: 100%;
    padding: 1.5rem 5rem 1.5rem .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-text {
    font-size: 2rem;
    font-weight: 500;
}

.book-btn {
    padding: .6rem 1.4rem;
    border-radius: 20px;
    background: white;
    color: black;
    font-style: italic;
    font-size: 1.1rem;
    text-decoration: none;
    margin-right: 7rem;
}

.menu-toggle {
    position: fixed;
    top: 1.5rem;
    right: 1.5rem;
    z-index: 1000;
    cursor: pointer;
}

.menu-icon {
    width: 45px;
    height: auto;
    display: block;
}

.side-menu {
    position: fixed;
    top: 0;
    right: -500px;
    width: 300px;
    height: 100vh;
    background: black;
    padding: 2rem;
    transition: right .4s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-left: 2px solid white;
}

.side-menu.open {
    right: 0;
}

.menu-logo {
    width: 150px;
    display: block;
    margin: 0 auto 2rem auto;
}

.side-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.side-menu li {
    margin: 1.5rem 0;
}

.side-menu a {
    color: white;
    text-decoration: none;
    font-size: 2rem;
    letter-spacing: 2px;
}

.contact {
    font-size: 1rem;
    text-align: center;
    opacity: 0.8;
    padding-bottom: 3rem;
}